/* # means section */
/* . means menu class */

*{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

.title{
    font-size: 35px;
}

.left_menu{
    font-size: 18px;
}

.right_menu{
    font-size: 18px;
    position:absolute;
    top: 75px;
    right: 40px;
}

#language{
    font-size: 18px;
    position:absolute;
    top: 110px;
    right: 40px;
}

.left_icon{
    font-size: 20px;
    position:absolute;
    top: 170px;
}

.left_icon img{
    width: 40px;
    
}

.right_icon{
    position:absolute;
    top: 170px;
    right: 40px;
}

.right_icon img{
    width: 50px;
}

#images{
    position: absolute;
    top: 250px;
}
#images img{
    width: 620px;
    height: auto;
    padding: 15px;
    margin-left: 35px;
}

#bar{
    background-color: black;
    width: 99vw;
    height: 3px;
    position: relative;
    top: 1430px;
    margin: 0;
}

footer{
    position: relative;
    top: 1450px;
    height: 130px;
}

footer .left_row{
    width: 160px;
    position: absolute;
    top: 0px;
}

footer .middle_row{
    width: 130px;
    position: absolute;
    top: 0px;
    right: 650px;
}

footer .right_row{
    width: 160px;
    position: absolute;
    top: 0px;
    right: 100px;
}

@media screen and (max-width: 768px){
    .
}